<div class="container">
  <div class="row">

    <div class="d-flex justify-content-between border p-2">

      <span>Proteção do carro</span>
      <span>R$60,00 / dia</span>

    </div>

    <div class="d-flex justify-content-between border p-2">

      <span>Proteção Extra</span>
      <div>R$60,00 / dia</div>

    </div>

    <div class="d-flex justify-content-between border p-2">

      <span>Cobertura para terceiros</span>
      <span>R$60,00 / dia</span>

    </div>

    <div class="d-flex justify-content-between border p-2">

      <span>Proteção de Vidros</span>
      <span>R$60,00 / dia</span>

    </div>

    <div class="d-flex justify-content-between border p-2">

      <span>Proteção de Vidros Premium e Pneus</span>
      <span>R$60,00 / dia</span>

    </div>

    <h5>Adicionais e Acessórios</h5>
    <p>Fique livre de preocupações! Conheça e inclua os nossos adicionais na sua reserva:</p>

    <div class="d-flex justify-content-between border p-2">

      <span>Neutraliza</span>
      <span>R$60,00 / dia</span>

    </div>

    <div class="d-flex justify-content-between border p-2">

      <span>Proteção do carro</span>
      <span>R$60,00 / dia</span>

    </div>

    <p>Adicione acessórios para sua praticidade e conforto (sujeitos a disponibilidade na agência)</p>

    <div class="d-flex justify-content-between border p-2">

      <span>Cadeira de bebê</span>
      
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-danger">+</button>
        <button type="button" class="btn btn-warning">0</button>
        <button type="button" class="btn btn-success">-</button>
      </div>

      <span>R$ 25,00 / dia (unidade)</span>

    </div>

    <div class="d-flex justify-content-between border p-2">

      <span>Assento de elevação</span>
      
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-danger">+</button>
        <button type="button" class="btn btn-warning">0</button>
        <button type="button" class="btn btn-success">-</button>
      </div>

      <span>R$ 25,00 / dia (unidade)</span>

    </div>

    <div class="d-flex justify-content-between border p-2">

      <span>Bebê conforto</span>
      
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-danger">+</button>
        <button type="button" class="btn btn-warning">0</button>
        <button type="button" class="btn btn-success">-</button>
      </div>

      <span>R$ 25,00 / dia (unidade)</span>

    </div>
    
    <div class="col-12">
      <button type="button" class="btn btn-primary">Continuar</button>
    </div>

  </div>
</div>
