

<!--
***************************
Esta é a segunda página onde escolhemos os carros e os planos ofertados
***************************
-->
<div class="container" id="carros">
  <div class="row">
      <div class="col-8 p-3">
        <div class="row">

          <div class="col-md-6">
             <app-grupos-carros></app-grupos-carros>
          </div>


          <div class="col-md-6">
            <app-promocoes></app-promocoes>
          </div>

        </div>

      </div>

      <div class="col-4 p-3">
         <app-resumo></app-resumo>
      </div>

  </div>
</div>

