<div class="container">
    <div class="row">

      <div class="col-md-6">

        <span>Grupo C - Econômico Com Ar</span>
        <div class="text-center">
          <img src="https://picsum.photos/200" class="rounded" alt="...">
        </div>

        <p>
          Veículo similar a: GM Onix Joy 1.0, dentre outros.
          Sua reserva garante um dos carros desse grupo.
          Modelo sujeito à disponibilidade da agência.
        </p>

        <button type="button" class="btn btn-primary">
          Notifications <span class="badge bg-secondary">4</span>
        </button>

      </div>

      <div class="col-md-6">
        

      </div>

    </div>
</div>
